/* * {box-sizing: border-box;} */
input {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: center;
    width: 50%;
    background: #f1f1f1;
}
.inputSearch{
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 25%;
}
button {
    float: left;
    width: 10%;
    float: center;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }

/* .inputSearch {
    margin: auto;
    display: block;
  } */

/* .foodSec{
    margin-top: 100px;
} */
#meals{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
}
.meal{
    border: 1px solid gray;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    width: 250px;
    text-align: center;
    background-color:honeydew;
}

.meal-name{
    font-size: 20px;
    color: magenta;
    padding-top: 20px;

}

#thumbImg{
    width: 200px;
    border-radius: 20px;
}